:root {
    --color1: #7946E0;
    --color2: #606060;
    --darkColor1: #341E61;
    --lightColor1: #E861E1;
    --dark-background:#202020;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    font-family: 'Cabin', sans-serif;
}

.container{
    max-width: 80%;
}

.light-btn {
    color: #fff;
    text-decoration: none;
    border: 1.5px solid #fff;
    padding: 20px 20px;
    margin-top: 20px;
}

.light-btn:hover {
    background-color: #fff;
    color: var(--color1);
    text-decoration: none;
    border: 1.5px solid #fff;
    padding: 20px 20px;
    margin-top: 20x;
}

.color-btn {
    color: var(--color1);
    text-decoration: none;
    border: 1.5px solid var(--color1);
    padding: 20px 20px;
    margin-top: 20px;
}

.color-btn:hover {
    background-color: var(--color1);
    color: #fff;
    text-decoration: none;
    border: 1.5px solid var(--color1);
    padding: 20px 20px;
    margin-top: 20x;
}

.navbar{
    background-color: var(--dark-background);
    color: #fff;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 {
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.navbar ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    padding: 0 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 10px 5px;
}

nav a:hover {
    color: var(--color1);
    border-bottom: solid 2px var(--color1);
}

main {
    background: url('../images/mirror-image.jpg') no-repeat center center/cover;
    height: 90vh;
    position: relative;
    color: #fff;
}

main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80%;
    padding: 0 20px;
}

main .content h1 {
    font-size: 50px;
}

main p {
    font-size: 25px;
    max-width: 800px;
    margin: 20px 0;
}

main::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5)
}
 
main *{
    z-index: 10;
}

section.color-bg {
    background-color: var(--color1);
    color: #fff;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


section.color-bg h4 {
    font-size: 60px;
    
}

section.white-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px 0;
}

section h5 {
    color: var(--dark-background);
    font-size: 22px;
}

section.white-bg p {
    font-size: 26px;
    margin: 25px 20px;
    color: var(--color2);
}

section .flex-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section .flex-columns img {
    height: 250px;
    width: 400px;
}

section .flex-columns p {
    margin-bottom: 50px;
}

footer {
    background-color: var(--dark-background);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 200px;
}

footer a {
    margin: 20px;
    color: #fff;
}

footer a:hover {
    margin: 20px;
    color: var(--color1);
}

footer span {
   color: var(--color1); 
}

footer span:hover {
    color: var(--lightColor1); 
 }